.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: rgb(22, 52, 121);
  padding: 500px;
  width: 35%;
  height: 50%;
}

.board > button {
  margin: 5px;
  border: none;
  background-color: rgb(253, 253, 253);
  font-size: 50px;
  width: 120px;
  height: 120px;
}