.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #e5e5dc;
}

.wrapper h3 {
  color: #e5e5dc;
}

.board {
  padding: 0px 30px 30px;
  border-radius: 8px;
  background-color: #c66b3d;
}

.board-header {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin-bottom: 0;
  color: #e5e5dc;
  height: 150px;
}

.board-header div {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.row-buttons {
  display: flex;
}

.row-buttons > button {
  margin: 5px;
  border-radius: 5px;
  font-size: 55px;
  width: 90px;
  height: 90px;
  border: none;
  color: #e5e5dc;
  background-color: #26495c;
}

.empty {
  color: #26495c !important;
}
